apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
- name: argo-cd
  repo: https://argoproj.github.io/argo-helm
  namespace: argocd
  valuesFile: values.yaml
  releaseName: argocd
  version: 7.9.1
  # fix Capabilities.APIVersions issue
  # https://github.com/argoproj/argo-helm/pull/2154
  # https://github.com/kubernetes-sigs/kustomize/issues/3458
  apiVersions:
    - monitoring.coreos.com/v1

resources:
- base/argocd.yaml
- base/applications.yaml
- base/applicationsets.yaml

namespace: argocd
