global:
  image:
    tag: "v2.14.21"

  logging:
    level: warn

configs:
  cm:
    kustomize.buildOptions: --enable-helm
    application.resourceTrackingMethod: annotation

dex:
  enabled: false

controller:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      selector:
        release: prometheus
        
redis:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      selector:
        release: prometheus

server:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      selector:
        release: prometheu

repoServer:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      selector:
        release: prometheus

applicationSet:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      selector:
        release: prometheus

notifications:
  metrics:
      enabled: true
      serviceMonitor:
        enabled: true
      selector:
        release: prometheus
